@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IRANYekanX'), local('IRANYekanX-Regular');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('IRANYekanX Bold'), local('IRANYekanX-Bold');
}

:root,
:host {
  --font-sans: 'IRANYekanX', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --default-font-family: var(--font-sans);
}
